.slide-up-wrapper {
  position: relative;
}

.slide-up-element {
  filter: blur(8px);
  transform: translateY(20px);
  animation: slide-up 0.45s ease-out forwards;
  animation-delay: calc(var(--i, 0) * 100ms); /* fallback 0 */
}

@keyframes slide-up {
  to {
    filter: blur(0);
    transform: translateY(0);
  }
}